<section class="bg-compliance" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Make compliance work for you</h2>
                <hr class="light">
                <p>An investment in privacy compliance can also be an investment in streamlined, trust-building data management.</p>
                <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Take Action</a> 
                <!-- <a href="{{ site.resources_url }}/contact" class="btn btn-default btn-xl wow tada page-scroll">Take Action</a> -->
            </div>
        </div>
    </div>
</section>
