<section class="bg-compliance" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Faites travailler la conformité pour vous</h2>
                <hr class="light">
                <p>Un investissement dans la conformité et la confidentialité peut également être un investissement dans une gestion des données efficace.</p>
                <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Take Action</a> 
                <!-- <a href="{{ site.resources_url }}/contact" class="btn btn-default btn-xl wow tada page-scroll">Contactez-Nous</a> -->
            </div>
        </div>
    </div>
</section>
