<section class="contact-padding" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Agissez dès à présent !</h2>
                <hr class="primary">
                <p>La protection des renseignements personnels ouvrent la voie à la croissance.</p>
            </div>
            <!--
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="tel:{{site.telephone_number}}">
                   <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <p>Call</p>
                </a>
            </div>
            -->
            <div class="col-lg-2 col-lg-offset-4 text-center">
            <a href="mailto:{{ site.email }}">
                <!-- <a href="{{ site.services_url }}/contact">  code to navigate to contact page -->
                   <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <!-- <p>{{ site.email }}</p> -->
                   <p>Courriel</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-0 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="nofollow noopener noreferrer">
                   <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <!-- <p>{{ site.twitter_username }}</p>-->
                   <p>Twitter</p>
                </a>
            </div>
        </div>
      <!-- Add footer here -->
      <p class="text-muted text-center sp" >&copy; 20{{ site.time | date: '%y' }} {{ site.copyright }} • <a href="{{ site.services_url }}/privacy-policy">Confidentialité</a></p>
    </div>
</section>
