<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Optimisées vos Investissements en confidentialité et vie privée</h1>
            <hr class="transparent">
            <p>La confiance est fondamentale dans un monde axé sur les données. En confiance, les consommateurs partagent leurs informations en échange de services.</p>
            <!-- <a href="#intro" class="btn btn-primary btn-xl page-scroll">Learn more</a> -->
            <a href="#intro" class="btn btn-default btn-xl page-scroll">En savoir plus</a>
        </div>
    </div>
</header>
