<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Optimisées la protection des renseignements personnels</h1>
            <hr class="transparent">
            <p>Les technologies axées sur les données reposent sur l'utilisation des renseignements personnels. Établir la confiance ouvre la voie à la croissance économique.</p>
            <!-- <a href="#intro" class="btn btn-primary btn-xl page-scroll">Learn more</a> -->
            <a href="#intro" class="btn btn-default btn-xl page-scroll">En savoir plus</a>
        </div>
    </div>
</header>
