<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Leverage Privacy Investments</h1>
            <hr class="transparent">
            <p>Trust is fundamental in a data-driven world. With trust, consumers share information in exchange for convenience, and business partners will seize opportunities. </p>
            <!-- <a href="#intro" class="btn btn-primary btn-xl page-scroll">Learn more</a> -->
            <a href="#intro" class="btn btn-default btn-xl page-scroll">Learn more</a>
        </div>
    </div>
</header>
