<section class="bg-primary" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">La confiance passe par la protection des renseignements personnels</h2>
                <hr>
                <p>Les organisations qui respectent la confidentialité améliorent leurs relations avec les clients, leur efficacité opérationnelle et leurs résultats.</p>
                <!--<a href="#contact" class="btn btn-default btn-xl">Contact</a>-->
            </div>
        </div>
    </div>
</section>
