<section class="bg-primary" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Privacy done right is the key to trust</h2>
                <hr>
                <p>Organizations that get privacy right improve their customer relationships, operational efficiency, and bottom-line results.</p>
                <!--<a href="#contact" class="btn btn-default btn-xl">Contact</a>-->
            </div>
        </div>
    </div>
</section>
