<section class="bg-more" id="more">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Criminal organizations target businesses of all sizes</h2>
                <hr class="light">
                <p>Ransomeware’s business model rests on the assumption that recovering from an attack is more costly than paying the ransom.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact</a>
            </div>
        </div>
    </div>
</section>
