<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/allianz-protect.pdf" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Allianz-Protect.jpg" class="img-responsive" alt="Project management Allianz Protect Online Safe">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Allianz in partnership with Air&nbsp;France
                            </div>
                            <div class="project-name">
                                Technical Project Management for Allianz Marketing, in the development of the Allianz Protect Online Safe.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://europa.eu/rapid/press-release_IP-96-993_en.htm" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/EC.jpg" class="img-responsive" alt="Security and risk analysis of auditing system">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                European Commission - Financial Control
                            </div>
                            <div class="project-name">
                                Update Financial Control auditing system, using MUS sampling and risk analysis.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/BNP-Paribas.jpg" onClick="return false;" rel="nofollow" class="portfolio-box">
                    <img src="img/portfolio/BNP-Paribas.jpg" class="img-responsive" alt="Disaster Recovery Business Continuity site">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Paribas Bank
                            </div>
                            <div class="project-name">
                                Implementation of a new Paribas recovery site, part of bank's business continuity and disaster recovery plan.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/en/rights-and-obligations/" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Voyages-sncf.jpg" class="img-responsive" alt="Project management CNIL privacy and security compliance">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Voyages-sncf.com
                            </div>
                            <div class="project-name">
                                Project management. CNIL privacy compliance of client and ridership data stored for use by marketing teams.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/rpr.jpg" onClick="return false;" rel="nofollow" class="portfolio-box">
                    <img src="img/portfolio/rpr.jpg" class="img-responsive" alt="Clinical study security and privacy audit">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rhône-Poulenc Rorer - Canada
                            </div>
                            <div class="project-name">
                                Security audit of clinical study system used to internally track and analyze medical studies.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/en/rights-and-obligations/" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/EDF.jpg" class="img-responsive" alt="Project management CNIL privacy and security compliance">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                EDF - Marketing
                            </div>
                            <div class="project-name">
                                Project management for EDF marketing. Ensure data warehouse conforms to CNIL privacy regulatory oversight.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
