<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
           <div class="col-lg-4 col-sm-6">
              <a href="img/portfolio/baton-logo.jpg" onClick="return false;" rel="nofollow" class="portfolio-box">
                  <img src="img/portfolio/baton-logo.jpg" class="img-responsive" alt="Conformité RGPD protection données personnelles vie privée">
                  <div class="portfolio-box-caption">
                       <div class="portfolio-box-caption-content">
                           <div class="project-category">
                               Baton Simulations
                          </div>
                          <div class="project-name">
                              Assister Baton Simulations atteindre la conformité RGPD pour leurs produits et opérations.
                          </div>
                       </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
               <a href="img/portfolio/allianz-protect.pdf" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                   <img src="img/portfolio/Allianz-Protect.jpg" class="img-responsive" alt="AMOA Coffre-fort Allianz Protect sécurité">
                   <div class="portfolio-box-caption">
                       <div class="portfolio-box-caption-content">
                           <div class="project-category">
                               Allianz en partenariat avec Air&nbsp;France
                           </div>
                           <div class="project-name">
                               Assistance à la maîtrise d’ouvrage (AMOA) sur le projet du coffre-fort numérique Allianz Protect.
                           </div>
                       </div>
                   </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/fr/comprendre-vos-obligations/les-principes-cles" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/Voyages-sncf.jpg" class="img-responsive" alt="Conformité CNIL protection données personnelles vie privée">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Voyages-sncf.com
                            </div>
                            <div class="project-name">
                                AMOA sur projet de conformité aux normes CNIL des bases de données clients et usagers disponibles aux équipes marketing.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://europa.eu/rapid/press-release_IP-96-993_fr.htm" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/EC.jpg" class="img-responsive" alt="Audit et analyse des risques et sécurité">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Commission Européenne - Contrôle Financier
                            </div>
                            <div class="project-name">
                                Mise à jour du système de gestion des audits financiers vers l'échantillonnage par unité monétaire (MUS) et analyse des risques.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/fr/comprendre-vos-obligations/les-principes-cles" rel="nofollow noopener noreferrer" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/EDF.jpg" class="img-responsive" alt="Conformité CNIL protection données personnelles vie privée">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                EDF - Marketing
                            </div>
                            <div class="project-name">
                                Assistance à la maîtrise d’ouvrage (AMOA) a l’implantation des bases de données clients conformes aux règlementations de la CNIL.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/BNP-Paribas.jpg" onClick="return false;" rel="nofollow" class="portfolio-box">
                    <img src="img/portfolio/BNP-Paribas.jpg" class="img-responsive" alt="Plan continuité">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Banque Paribas
                            </div>
                            <div class="project-name">
                                Mise en oeuvre des sites de secours dans le cadre du nouveau plan de continuité informatique.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
