<section id="resources" class="bg-resources">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2> <a class="section-heading light" href="{{ site.resources_url }}">Resources</a></h2>
        <h3> <a class="light" href="{{ site.resources_url }}/ccpa">Come January 2020, non-compliance is risky business</a></h3>
             <p class="text-faded text-left">The regulatory climate around the world for data protection is heating up. Data privacy
               regulations like the GDPR and CCPA are becoming the norm. Are you CCPA compliant?
             <a class="light" href="{{ site.resources_url }}/ccpa">> More</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.resources_url }}/gdpr">GDPR: what SMEs need to know regarding privacy</a></h3>
             <p class="text-faded text-left">With the General Data Protection Regulation, effective May 25th 2018, Europe has set
               out to unify and reinforce personal data protection. We answer your questions
             <a class="light" href="{{ site.resources_url }}/gdpr">> More</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.resources_url }}/ceo-fraud">CEO fraud or business e-mail compromise (BEC)</a></h3>
             <p class="text-faded text-left">Numbers don’t lie. According to the FBI, business e-mail compromise fraud cost businesses
                of all sizes over $3 billion, a 1,300 percent increase in identified losses since 2015
             <a class="light" href="{{ site.resources_url }}/ceo-fraud">> More</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.resources_url }}/ransomware-security">Ransomware: the growing security threat</a></h3>
             <p class="text-faded text-left">Ransomware is a type of malicous software that, once it infects computers, perpetually
                restricts access to files unless a crypto-currency ransom (e.g. Bitcoin) is paid
             <a class="light" href="{{ site.resources_url }}/ransomware-security">> More</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.resources_url }}/cyber-insurance">Cyber and privacy insurance policies</a></h3>
             <p class="text-faded text-left">With cyber attacks and privacy breaches making daily headlines, organizations need a
                robust security and privacy strategy. Insurance can mitigate security and privacy risk
             <a class="light" href="{{ site.resources_url }}/cyber-insurance">> More</a>
             </p>
        <hr class="light">
        <h3> <a class="light" href="{{ site.resources_url }}/better-password-security">Better password policies improve security</a></h3>
             <p class="text-faded text-left">The NIST has released new Digital Identity Guidelines. Why is it important? Digital
                identities are an important aspect of security, enabling staff to develop security awareness
             <a class="light" href="{{ site.resources_url }}/better-password-security">> More</a>
             </p>
        <a href="{{ site.resources_url }}" class="btn btn-default btn-xl">Go to Resources</a>
      </div>
    </div>
  </div>
</section>
