<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nous possédons l'expertise dont vous avez besoin pour</h2>
                <hr class="primary">
                <p class="text-muted">Être en conformité en matière de protection des données personnelles. Laissez-nous vous aider&nbsp;:</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
              <!-- <a href="{{ site.services_url }}/assess-readiness"> -->
                       <i class="fa fa-4x fa-search-plus wow bounceIn"></i>
                    </a>
                    <h3>Évaluer vos besoins</h3>
                    <p class="text-muted">Proposer des solutions adaptées à vos objectifs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
              <!-- <a href="{{ site.services_url }}/enhance-value"> -->
                       <i class="fa fa-4x fa-lock wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                    <h3>Valoriser vos actifs</h3>
                    <p class="text-muted">Optimiser votre gestion des données personnels.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
              <!-- <a href="{{ site.services_url }}/train-people"> -->
                       <i class="fa fa-4x fa-user wow bounceIn" data-wow-delay=".2s"></i>
                    </a>
                    <h3>Former vos employés</h3>
                    <p class="text-muted">Guider vos employés en matière de conformité et de sécurité.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
              <!-- <a href="{{ site.services_url }}/ensure-continuity"> -->
                       <i class="fa fa-4x fa-server wow bounceIn" data-wow-delay=".3s"></i>
                    </a>
                    <h3>Assurer la continuité</h3>
                    <p class="text-muted">Élaborer vos plans de gestions d’incidents.</p>
                </div>
            </div>
        </div>
    </div>
</section>
